
$theme-colors: (
  "primary":    #212529,
  "secondary":  #601d1d,
  "success":    #198754,
  "info":       #2263d3,
  "warning":    #ffc107,
  "danger":     #dc3545,
  "light":      #f8f9fa,
  "dark":       #343a40,
);

.search-input{
  width: 100%;
  padding: 0.375em 0.75em;
  font-size: 1em;
  line-height: 1.5;
  color: #574b49;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  transition: border-color 0.15s ease-in-out, 
  box-shadow 0.15s ease-in-out;
  box-sizing: border-box;
  min-height: 48px;
  border-radius: 0.375em;
  -webkit-box-shadow: 0 0 0 1px rgb(0 0 0 / 25%);
  box-shadow: 0 0 0 1px rgb(0 0 0 / 25%);
}

  
@import 'node_modules/bootstrap/scss/bootstrap.scss';

.pointer{
  cursor:pointer;
}

